<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stonewang.gaodi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".ChangPassActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".JunshiNewsActivity">
        </activity>

        <activity
            android:name=".GuojiNewsActivity">
        </activity>

        <activity
            android:name=".LocalShowActivity.LandItemActivity">
        </activity>
        <activity
            android:name=".LocalShowActivity.LandShowOneActivity">
        </activity>
        <activity
            android:name=".LocalShowActivity.NavyItemActivity">
        </activity>
        <activity
            android:name=".LocalShowActivity.NavyShowOneActivity">
        </activity>
        <activity
            android:name=".LocalShowActivity.AirforceItemActivity">
        </activity>
        <activity
            android:name=".LocalShowActivity.AirforceShowOneActivity">
        </activity>

    </application>

</manifest>